
body{

background-color: #f4f4f4;
color: black;
font-family: cursive , sans-serif;

line-height: 1.6em;
font-size: 22px;
border: 10px;
}
a:hover {

  background-color: red;

}
.container{

	width: 100%;
	margin: auto;
	overflow: hidden;


}
#main-header{

	background-color: black;
	color: gold;
	font-size: 28px;
border: yellow;
background-image: url("tt.jpg");
background-size: 25% 100%;
background-repeat: no-repeat;
background-position: left;
	padding-left: 30px;
transition: 2s;
}
#navbar{
	font-style: bold;
text-shadow: blue;
font-size: 18px;
text-align: center;
color: #fff;

}
#navbar ul{

text-align: center;
list-style: none;
padding: 0;

}
#navbar li{

padding-left: 30px;

display: inline;


}
#navbar a{
	color: white;
	text-decoration: none;
	font-size: 22px;
	margin: 20px;
	
	

}

#showcase{

    
	background-image: url("RE6.jpg");
	background-size:100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	
	height: 400px;
	margin: bottom;
	text-align: center;
	transform: rotate3d(45sdeg);

#main {
	float: left;
	width: 70%;
     padding : 10 30px;
   

}


#main-footer{


color: blue;
background-color: black;
text-align: center;
padding: 20px;
margin-top: 40px;

}
@media(max-width: 600px)
{
#main{

	width: 100%;
	float: none;
}
